In [1]:
import pandas as pd

# Data sesuai soal
data = {
    'NIM': ['TI001','TI002','TI003','TI004','TI005','TI006','TI007','TI008','TI009','TI010'],
    'Actual': ['Lulus','Lulus','Lulus','Lulus','Lulus',
               'Tidak Lulus','Tidak Lulus','Tidak Lulus','Tidak Lulus','Tidak Lulus'],
    'Predicted': ['Lulus','Tidak Lulus','Lulus','Tidak Lulus','Lulus',
                  'Lulus','Tidak Lulus','Tidak Lulus','Tidak Lulus','Tidak Lulus']
}

df = pd.DataFrame(data)
df

     NIM       Actual    Predicted
0  TI001        Lulus        Lulus
1  TI002        Lulus  Tidak Lulus
2  TI003        Lulus        Lulus
3  TI004        Lulus  Tidak Lulus
4  TI005        Lulus        Lulus
5  TI006  Tidak Lulus        Lulus
6  TI007  Tidak Lulus  Tidak Lulus
7  TI008  Tidak Lulus  Tidak Lulus
8  TI009  Tidak Lulus  Tidak Lulus
9  TI010  Tidak Lulus  Tidak Lulus

In [2]:
from sklearn.metrics import confusion_matrix

labels = ['Lulus', 'Tidak Lulus']
cm = confusion_matrix(df['Actual'], df['Predicted'], labels=labels)

cm_df = pd.DataFrame(cm, 
                     index=['Aktual Lulus', 'Aktual Tidak Lulus'], 
                     columns=['Prediksi Lulus', 'Prediksi Tidak Lulus'])
cm_df

                    Prediksi Lulus  Prediksi Tidak Lulus
Aktual Lulus                     3                     2
Aktual Tidak Lulus               1                     4

In [4]:
from sklearn.metrics import accuracy_score, precision_score, recall_score

accuracy = accuracy_score(df['Actual'], df['Predicted'])
precision = precision_score(df['Actual'], df['Predicted'], pos_label='Lulus')
recall = recall_score(df['Actual'], df['Predicted'], pos_label='Lulus')

print("Accuracy :", round(accuracy * 100, 2), "%")
print("Precision:", round(precision * 100, 2), "%")
print("Recall   :", round(recall * 100, 2), "%")

Accuracy : 70.0 %
Precision: 75.0 %
Recall   : 60.0 %