In [1]:
import pandas as pd

# Read the CSV file with a comma delimiter
df = pd.read_csv('../data/calonpembelimobil.csv', sep=',')
#cetak header data (5 baris data) dari file
df.head()

   ID  Usia  Status  Kelamin  Memiliki_Mobil  Penghasilan  Beli_Mobil
0   1    32       1        0               0          240           1
1   2    49       2        1               1          100           0
2   3    52       1        0               2          250           1
3   4    26       2        1               1          130           0
4   5    45       3        0               2          237           1

## Import Library

In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

## Baca Dataset

In [5]:
df = pd.read_csv('../data/calonpembelimobil.csv', sep=',')
print(df.head())

   ID  Usia  Status  Kelamin  Memiliki_Mobil  Penghasilan  Beli_Mobil
0   1    32       1        0               0          240           1
1   2    49       2        1               1          100           0
2   3    52       1        0               2          250           1
3   4    26       2        1               1          130           0
4   5    45       3        0               2          237           1

## Pisah Fitur dan Label

In [6]:
X = df[['Usia', 'Status', 'Kelamin', 'Memiliki_Mobil', 'Penghasilan']]
y = df['Beli_Mobil']

## Bagi Data Menjadi Training dan Testing

In [7]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

## Buat dan Latih Model Logistic Regression

In [8]:
model = LogisticRegression()
model.fit(X_train, y_train)
print("Model Logistic Regression berhasil dilatih!")

Model Logistic Regression berhasil dilatih!

In [9]:
y_pred = model.predict(X_test)

print("Akurasi Model:", accuracy_score(y_test, y_pred))
print("\nConfusion Matrix:\n", confusion_matrix(y_test, y_pred))
print("\nLaporan Klasifikasi:\n", classification_report(y_test, y_pred))

Akurasi Model: 0.93

Confusion Matrix:
 [[ 55   9]
 [  5 131]]

Laporan Klasifikasi:
               precision    recall  f1-score   support

           0       0.92      0.86      0.89        64
           1       0.94      0.96      0.95       136

    accuracy                           0.93       200
   macro avg       0.93      0.91      0.92       200
weighted avg       0.93      0.93      0.93       200

## Uji dengan Dataset Baru

In [10]:
data_baru = pd.DataFrame({
    'Usia': [28, 45],
    'Status': [1, 2],
    'Kelamin': [0, 1],
    'Memiliki_Mobil': [0, 1],
    'Penghasilan': [200, 300]
})

prediksi_baru = model.predict(data_baru)
print("Prediksi:", prediksi_baru)

Prediksi: [0 1]

In [11]:
hasil = data_baru.copy()
hasil['Prediksi_Beli_Mobil'] = prediksi_baru
hasil['Keterangan'] = hasil['Prediksi_Beli_Mobil'].map({0: 'Tidak Beli Mobil', 1: 'Beli Mobil'})
print(hasil)

   Usia  Status  Kelamin  Memiliki_Mobil  Penghasilan  Prediksi_Beli_Mobil  \
0    28       1        0               0          200                    0
1    45       2        1               1          300                    1

         Keterangan
0  Tidak Beli Mobil
1        Beli Mobil